# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://dmmsnxjjzmvzakaxiame.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtbXNueGpqem12emFrYXhpYW1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2MTgwOTQsImV4cCI6MjA4MDE5NDA5NH0.Ojh6RDbkw2lEpge1oalzDO9PgIEmjY1RTZ1k51yFzWQ
